.Msgbox{
    height: 300px;
    border:1px solid purple;
}
.Msgbox h3{
    text-align: center;
    text-decoration: underline;
}
.Msgbox #Chatmsg{
    padding:1em;
    margin-top:-2em;
}
.Msgbox #Chatmsg span{
    margin-bottom: 10px;
    display: block;
}